@use "./stylesheets/sass/main.scss";


.video-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 */
}

.video-container iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
