@use "./stylesheets/sass/main.scss";


.video-container {
  position: relative;
  padding-top: 56.25%;
  /* 16:9 */
}

.video-container iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}


@keyframes terminal-blink {

  0%,
  50% {
    opacity: 1;
  }

  50.01%,
  100% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: terminal-blink 1s steps(1, start) infinite;
}